.product__payment
    .product__pay
        .product__title
            img(src="./images/icon/payment-1.svg", alt="payment")
            h3 Способы доставки
        h4 По Новосибирску
        ul
            li От 20 литров – бесплатно, наш курьер привезет заказ на адрес
            li До 20 литров – доставка осуществляется через РЦР, Сдэк
        p Возможен самовывоз заказа со склада из академгородка по предварительной договоренности.
        h4 По России
        ul
            li ТК “Сдэк”, почта России – сроки и стоимость доставки устанавливаются транспортной компанией и почтой. Курьер доставляет товар до терминала ТК
    .product__pay
        .product__title
            img(src="./images/icon/payment-2.svg", alt="payment")
            h3 Способы Оплаты
        ul
            li Наличными или картой – при доставке курьером
            li Посредством выставления счета через банк – для юридических лиц
            li Переводом на банковскую карту
            li Онлайн – при оформлении заказа на сайте (в разработке)